html, body {
	height: 100%;
	width: : 100%;
}

.form-group {
	text-style: normal;
}

.box {
	margin: 20px;
	width: 100px;
	height: 100px;
	border: 2px solid orange;
}

.detail {
	z-index: 1;
	position: relative;
}
.excel {
	width: 50%;
	height: 100%;
	
	z-index: 1;
	position: relative;
}
#main {
	margin: 8px;
	margin-left: auto;
	border: 2px dashed green;
	border-radius: 5%;
}

#clickme {
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 300px;
	margin-bottom: 300px;
}

.choose {
	margin: 300px 420px;
	z-index:5;
	position: absolute;
}

input[type=file] { 
    width: 1px; 
    visibility: hidden;
}