html, body {
	height: 100%;
	width: : 100%;
}

.form-group {
	text-style: normal;
}

.box {
	margin: 20px;
	width: 100px;
	height: 100px;
	border: 2px solid orange;
}

.detail {
	z-index: 1;
	position: relative;
}

.excel {
	width: 50%;
	height: 100%;
	border: 2px dashed green;
	z-index: 1;
	position: relative;
}

.choose {
	margin: 300px 420px;
	z-index:5;
	position: absolute;
}

input[type=file] { 
    width: 1px; 
    visibility: hidden;
}